.hidden {
  display: none;
}

.orientation_1 {
  position: absolute;
  margin-top: 84px; 
  transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
}

.orientation_2 {
  position: absolute;
  margin-top: 42px;
  margin-left: -28px;
  transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
}

.orientation_3 {
  position: absolute;
  margin-left: -56px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}